body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #343F3E;
    background-color: #DCEDFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #505A5B;
    text-align: center;
}

p {
    margin-bottom: 20px;
    color: #343F3E;
}

header {
    display: flex;
    justify-content: space-between;
    background: #505A5B;
}

.spaceTitle {
    color: #DCEDFF;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 25px;
}

#introduction {
    background: #94B0DA;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

#planets ol {
    /* list-style-type: none; */
}

#planets li {
    margin-bottom: 20px;
}

#galaxies {
    background: #94B0DA;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.tableau-container {
    margin-bottom: 30px;
    height: 600px;
}

.youtube-container {
    margin-bottom: 30px;
}

#image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    font-size: 20px;
}

a {
    color: #DCEDFF;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #DCEDFF;
}

footer {
    background: #505A5B;
    padding: 20px;
    text-align: center;
    color: #DCEDFF;
}
